$accent-color: #d88c00;

.panelsigncontainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 185px;
  width: 185px;
  border: solid 0px white;
}

.panelsign {
  position: absolute;
  top: 0;
  left: 0;
  height: 185px;
  width: 185px;
  background-size: 185px 185px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  font-size: 20px;
}

.panelplanet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 120px;
  width: 100px;
}

.leftarrow,
.rightarrow {
  position: absolute;
  top: 35px;
  opacity: 0.8;
  cursor: pointer;
}
.leftarrow.disabled,
.rightarrow.disabled {
  opacity: 0.3;
  cursor: default;
}
.leftarrow {
  left: 50%;
  margin-left: -170px;
}
.rightarrow {
  right: 50%;
  margin-right: -170px;
}

@media (prefers-reduced-motion: no-preference) {
  .panelsign {
    animation: constelationspin infinite 20s linear;
  }
  .leftarrow {
    animation: left-backandforth infinite 1s linear;
  }
  .rightarrow {
    animation: right-backandforth infinite 1s linear;
  }
}
@keyframes constelationspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes left-backandforth {
  0% {
    margin-left: -170px;
  }
  50% {
    margin-left: -180px;
  }
  100% {
    margin-left: -170px;
  }
}
@keyframes right-backandforth {
  0% {
    margin-right: -170px;
  }
  50% {
    margin-right: -180px;
  }
  100% {
    margin-right: -170px;
  }
}

.empty {
  border: solid 3px #666666;
  background-color: rgba(0, 0, 0, 0.3);
}
.fire {
  border: solid 3px #ac3838;
}
.earth {
  border: solid 3px #a36952;
}
.air {
  border: solid 3px #65878a;
}
.water {
  border: solid 3px #3b7ac2;
}

.paneltitle {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 700;
}

.paneldescription {
  margin-top: 10px;
  text-align: justify;
}

.emptier {
  padding-top: 20px;
  text-align: center !important;
}

.dropcap p::first-letter {
  display: block;
  border: solid 1px #333;
  float: left;
  font-size: 37px;
  margin: 3px 5px 0 0;
  line-height: 28px;
}

.MuiTab-root {
  min-width: 10px !important;
  font-family: "AstroSymbol" !important;
  font-size: 20px !important;
}
.MuiAppBar-colorDefault {
  background-color: #000000 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: $accent-color !important;
}

.MuiTabs-indicator {
  background-color: $accent-color !important;
}

.MuiInput-underline::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $accent-color !important;
}

.MuiInput-underline.Mui-focused::after {
  border-bottom: 2px solid $accent-color;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: $accent-color !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: $accent-color !important;
}

.fetchbuttonDisabled {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: rgba(0, 0, 0, 1) !important;
  color: white !important;
  opacity: 0.3;
  cursor: default !important;
}
.fetchbuttonDisabled:hover {
  background-color: rgba(0, 0, 0, 1) !important;
}

.fetchbutton {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: rgba(40, 69, 94, 1) !important;

  color: white !important;
  opacity: 1;
  cursor: pointer !important;
}

.aspecttitle {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: solid 1px white;
}
.aspecttitle.conjunct {
  border-color: #d88c00;
}
.aspecttitle.sextile,
.aspecttitle.trine {
  border-color: #1e8aad;
}
.aspecttitle.square,
.aspecttitle.opposition {
  border-color: #c03333;
}
.aspectcontent {
  text-align: justify;
}
.MuiSkeleton-root {
  background-color: rgba(0, 60, 100, 0.23) !important;
}
