@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#inputarea {
  width: 1080px;
  height: 1080px;
  overflow: hidden;
  border: solid 0px black;
  position: absolute;
  top: 0px;
  left: -1070px;
}

.generatebutton {
  position: absolute;
  right: 0px;
  top: 0px;
}

#wrapper {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #wrapper {
    width: 300px;
    height: 300px;
  }
}

.heading {
  width: 980px;
  position: relative;
  top: 200px;
  left: 50px;
  font-size: 120px;
  line-height: 140px;
  font-family: "Jost";
  text-transform: uppercase;
  color: white;
}
.subheading {
  width: 980px;
  position: relative;
  top: 200px;
  left: 50px;
  font-size: 60px;
  line-height: 70px;
  font-family: "Ubuntu";
  font-style: italic;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 25px;
  width: 1080px;
}
.logo img {
  width: 300px;
}
.usertag {
  position: absolute;
  right: 50px;
  bottom: 80px;
  font-size: 50px;
  color: white;
  font-family: "Jost";
}
.topictag {
  position: absolute;
  left: 50px;
  bottom: 80px;
  font-size: 40px;
  color: white;
  font-family: "Jost";
}

.cover .innercontent {
  display: none;
}
.inner {
  .heading {
    width: 980px;
    position: relative;
    top: 180px;
    left: 50px;
    font-size: 50px;
    line-height: 60px;
    font-family: "Jost";
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: solid 3px white;
  }
  .innercontent {
    display: block;
    position: absolute;
    width: 980px;
    position: relative;
    top: 180px;
    left: 50px;
    font-size: 45px;
    line-height: 50px;
    font-family: "Jost";
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
  }
  .subheading {
    display: none;
  }
}

.theme-one {
  width: 1080px;
  height: 1080px;
  background-color: #222;
  color: white;
}

.theme-two {
  width: 1080px;
  height: 1080px;
  background-color: #d81b60;
  color: white;
}

.theme-three {
  width: 1080px;
  height: 1080px;
  background-color: #e53935;
  color: white;
}

.theme-four {
  width: 1080px;
  height: 1080px;
  background-color: #00897b;
  color: white;
}

.theme-five {
  width: 1080px;
  height: 1080px;
  background-color: #3949ab;
  color: white;
}

.theme-six {
  width: 1080px;
  height: 1080px;
  background-color: #ddd;
  color: #111;
  .heading {
    color: black;
  }
  .subheading {
    color: rgba(0, 0, 0, 0.6);
  }
  .usertag {
    color: #111;
  }
  .topictag {
    color: #111;
  }
  .inner {
    .heading {
      border-bottom: solid 3px black;
    }
    .innercontent {
      color: #111;
    }
  }
}
