@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.template {
  width: 1080px;
  height: 1080px;
}

#inputarea {
  width: 1080px;
  height: 1080px;
  overflow: hidden;
  border: solid 0px black;
  position: absolute;
  left: -1070px;
}
.heading {
  width: 1080px;
  position: absolute;
  top: 200px;
}

.generatebutton {
  position: absolute;
  right: 0px;
  top: 0px;
}

#wrapper {
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}

#wrapper canvas {
  max-width: 100%;
  max-height: 100%;
}
